		<footer class="main-footer">
		    <div class="top-footer">
		        <a href="#" class="claim" data-toggle="modal" data-target="#modal-mih">
		           {<span class="hash">r</span><span class="h">H</span>a<span class="h">zlo</span><span class="hash">ulJ</span>R<span class="h">eali</span><span class="h">dad!</span><span class="hash">Z</span>}
		        </a>
		    </div>
		    <div class="bottom-footer">
		        <div class="container-fluid">
		            <div class="row">
		                <div class="col-sm-4 col text-left">
		                    <ul class="contact-data">
		                        <li>
		                            <a href="mailto:raul.jrz@gmail.com"><i class="fa fa-envelope"></i>raul.jrz@gmail.com</a>
		                        </li>
		                        <li>
		                            <a href="tel:+541134426513"><i class="fa fa-phone"></i>+541134426513</a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="col-sm-4 col text-center">Raúl Juárez &copy; 2017 &bull;</div>
		                <div class="col-sm-4 col text-right">
		                    <ul class="contact-data">
		                        <li>
		                            <a href="rss.xml" target="_blank" title="RSS"><i class="fa fa-rss"></i></a>
		                        </li>
		                        <li>
		                            <a href="http://googleplus.com/rauljrz" target="_blank" title="Google+">
		                                <i class="fa fa-google-plus"></i>
		                            </a>
		                        </li>
		                        <li>
		                            <a href="skype:rauljrz" target="_blank" title="Skype">
		                                <i class="fa fa-skype"></i>
		                            </a>
		                        </li>
		                        <li>
		                            <a href="http://ar.linkedin.com/in/rauljrz" target="_blank" title="Linkedin">
		                                <i class="fa fa-linkedin"></i>
		                            </a>
		                        </li>
		                        <li>
		                            <a href="http://twitter.com/rauljrz" target="_blank" title="Twitter">
		                                <i class="fa fa-twitter"></i>
		                            </a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>


	    <div class="modal fade" data-backdrop="static" id="modal-mih">
			<div class="modal-dialog">
			    <div class="modal-content">
			        <div class="modal-header">
			            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			            <h4 class="modal-title">¡Hazlo realidad!</h4>
			        </div>

			        <form method="post" action="http://rauljrz.tk/contact" id="contact-modal-form">
			            <div class="modal-body">
			                <p>Cuéntame tu idea/proyecto y te ayudo a hacerla realidad:</p>
			                <div class="container-fluid">
			                    <div class="row">
			                        <div class="col-sm-12">
			                            <div class="form-group">
			                                <input class="form-control" type="text" name="name" id="mih-name" />
			                                <label class="control-label" for="mih-name">
			                                    <span class="control-label-content">Nombre</span>
			                                </label>
			                            </div>

			                            <div class="form-group">
			                                <input class="form-control" type="text" name="phone" id="mih-phone" />
			                                <label class="control-label" for="mih-phone">
			                                    <span class="control-label-content">Teléfono</span>
			                                </label>
			                            </div>

			                            <div class="form-group">
			                                <input class="form-control" type="text" name="email" id="mih-email" />
			                                <label class="control-label" for="mih-email">
			                                    <span class="control-label-content">Email</span>
			                                </label>
			                            </div>

			                            <div class="form-group">
			                                <textarea class="form-control" name="project" id="mih-idea"></textarea>
			                                <label class="control-label" for="mih-idea">
			                                    <span class="control-label-content">Idea/Proyecto</span>
			                                </label>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                <p>Arrastra la esfera hacia el lado derecho <small>(para demostrar que eres humano)</small>:</p>
			                <div class="container-fluid">
			                    <div class="row">
			                        <div class="col-sm-12">
			                            <div class="QapTcha"></div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="modal-footer">
			                <button type="submit" class="btn btn-success btn-send pull-right" id="mih-send" disabled>
			                    <span class="btn-label">
			                        ¡Hagámoslo!<i class="fa fa-paper-plane"></i>
			                    </span>
			                    <span class="spinner">
			                        <i class="fa fa-spin fa-circle-o-notch"></i>
			                    </span>
			                    <span class="checkmark"></span>
			                </button>
			                <div class="text-danger hidden" id="mih-alert"></div>
			            </div>
			        </form>
			        <div id="contact-modal-success">
			            <div class="modal-body"></div>
			        </div>
			    </div>
			</div>

			<div class="phone-wrapper">
			    <a href="tel:+541134426513" class="phone">+541134426513</a>
			</div>
			<div class="mail-wrapper">
			    <a href="mailto:raul.jrz@gmail.com" class="mail">raul.jrz@gmail.com</a>
			</div>
		</div>

		<a href="#" class="go-top" id="go-top">
			<i class="fa fa-chevron-up"></i>
		</a>

