<nav class="main-menu">
	<div class="container-fluid container">
	    <div class="col-sm-4 col">
	        <div class="menu-item">
	            <a href="http://rauljrz.github.io/portfolio.html">
	                <span class="num-title">01.</span>Mis Trabajos
	                <span class="subtitle">Lo que hago</span>
	            </a>
	        </div>
	    </div>
	    <div class="col-sm-4 col">
	        <div class="menu-item">
	            <a href="http://rauljrz.github.io/blog.html">
	                <span class="num-title">02.</span>M&iacute;s notas
	                <span class="subtitle">Lo que escribo</span>
	            </a>
	        </div>
	    </div>
	    <div class="col-sm-4 col">
	        <div class="menu-item">
	            <a href="http://rauljrz.github.io/about.html">
	                <span class="num-title">03.</span>Sobre m&iacute;	
	                <span class="subtitle">Lo que soy / D&oacute;nde estoy</span>
	            </a>
	        </div>
	    </div>
	</div>

	<div class="phone-wrapper">
	    <a href="tel:+54 1134426513" class="phone">+54 1134426513</a>
	</div>
	<div class="mail-wrapper">
	    <a href="mailto:raul.jrz@gmail.com" class="mail">raul.jrz@gmail.com</a>
	</div>
</nav>

<nav class="navbar navbar-default little" id="top-navbar">
	<div class="container-fluid">
	    <div class="navbar-header">
	        <a class="navbar-brand" href="http://rauljrz.github.io/index.html">Ra&uacute;l Ju&aacute;rez - Ingenier&iacute;a en Sistemas {raulJRZ};</a>
	        <ul class="nav navbar-nav">
	            <li>
	                <a href="#" id="menu-button">
	                    <span class="icons menu-icon-wrapper">
	                        <span class="menu-icon"></span>
	                    </span>
	                    <span class="title">Men&uacute;</span>
	                    <span class="close-title">Cerrar</span>
	                </a>
	            </li>
	        </ul>
	    </div>
	</div>
</nav>